* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black-color: #212121;
    --primary-color: #fed700;
    --height-header: 9rem;
    --font: 'Montserrat', sans-serif;
}
